.scope-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scope-container h2 {
    text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(
    --Suggested-Tutedude-Logo-gradient-Suggested-Logo-gradient,
    linear-gradient(180deg, #b872d0 0%, #372faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scopebox-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 30px;
}
.scopebox {
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding: 1rem;
  width: 300px;
  border-radius: 10px;
  background: var(
    --INTERNSHIP-GRADIENT,
    linear-gradient(
      313deg,
      rgba(255, 155, 155, 0.17) 5.04%,
      rgba(203, 35, 109, 0.17) 39.16%,
      rgba(128, 0, 128, 0.17) 107.92%
    )
  );
  box-shadow: 0px 0.5px 4px 0px rgba(226, 141, 141, 0.2);
}
.scopebox p {
  text-align: left;
  margin: 0;
  font-size: 0.8rem;
}
.scopebox p:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
}
.scopebox p:nth-child(2) {
    color: #323232;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.highlights-container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.highlightbox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0.5px 10px 1.5px rgba(165, 130, 179, 0.22);
  border-radius: 10px;
  padding: 0.5rem;
  /* padding-bottom: 0; */
  width: 160px;
  height: 180px;
}
.highlightbox p {
  margin: 0;
  font-size: 15px;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(
    --New-Dashboard-Gradient,
    linear-gradient(
      90deg,
      rgba(63, 55, 201, 0.74) -11.5%,
      rgba(177, 66, 64, 0.53) 169.22%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roadmap {
  width: 90%;
  margin-bottom: 2rem;
}

.applyBtn2 {
  margin-top: 2rem;
  background-color: #800080;
  color: white;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
    .scopebox-container{
        width: 100%;
    }
    .scopebox {
    width: 75%;
    }
    .highlights-container{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
}
  .highlightbox {
    gap:10%;
    height: 160px;
  }
  .highlightbox p{
        font-size: 13px;
  }
  .roadmap {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .highlightbox {
    width: 45%;
    height: 160px;
    gap:3%;
  }
    .highlightbox p{
            font-size: 12px;
    }
}
