.scope-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scope-container h2 {
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(
    --Suggested-Tutedude-Logo-gradient-Suggested-Logo-gradient,
    linear-gradient(180deg, #b872d0 0%, #372faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scopebox-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 30px;
}
.scopebox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 300px;
  border-radius: 10px;
  background: var(
    --INTERNSHIP-GRADIENT,
    linear-gradient(
      313deg,
      rgba(255, 155, 155, 0.17) 5.04%,
      rgba(203, 35, 109, 0.17) 39.16%,
      rgba(128, 0, 128, 0.17) 107.92%
    )
  );
  box-shadow: 0px 0.5px 4px 0px rgba(226, 141, 141, 0.2);
}
.scopebox p {
  text-align: left;
  margin: 0;
  font-size: 0.8rem;
}
.scopebox p:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
}
.scopebox p:nth-child(2) {
  color: #323232;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.highlights-container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.highlightbox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0.5px 10px 1.5px rgba(165, 130, 179, 0.22);
  border-radius: 10px;
  padding: 0.5rem;
  /* padding-bottom: 0; */
  width: 160px;
  height: 180px;
}
.highlightbox p {
  margin: 0;
  font-size: 15px;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(
    --New-Dashboard-Gradient,
    linear-gradient(
      90deg,
      rgba(63, 55, 201, 0.74) -11.5%,
      rgba(177, 66, 64, 0.53) 169.22%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roadmap {
  width: 90%;
  margin-bottom: 2rem;
}

.applyBtn2 {
  margin-top: 2rem;
  display: flex;
  width: 225px;
  height: 50px;
  padding: 15px 28px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 10px;
  background: var(
    --python-banner-gradient-hero-image,
    linear-gradient(176deg, #800080 -2.53%, #7e267e 27.29%)
  );
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.15),
    -1px 0px 4px 0px rgba(0, 0, 0, 0.15), 0px -1px 4px 0px rgba(0, 0, 0, 0.15),
    0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 123.5%; /* 19.76px */
}
.howintern-container {
  width: 100vw;
  display: grid;
  place-items: center;
  /* border:2px solid red; */
}
.howintern {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 95%;
  /* margin-left: 10%; */
  /* background-color: black; */
  position: relative;
  overflow: hidden;
  /* border: 2px solid black; */
}
.howintern-top {
  /* background-color: blue; */
  display: flex;

  height: 50%;
  position: relative;
}
.howintern-bottom {
  position: relative;
  height: 50%;
  display: flex;
}

.circle1 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--New-Dashboard-Gradient, rgba(63, 55, 201, 0.74));
  display: grid;
  place-items: center;
}
.circle2 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--New-Dashboard-Gradient, rgba(63, 55, 201, 0.74));
  left: 375px;

  display: grid;
  place-items: center;
}
.circle3 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--New-Dashboard-Gradient, rgba(63, 55, 201, 0.74));
  display: grid;
  place-items: center;
  left: 750px;
}
.circle4 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--New-Dashboard-Gradient, rgba(63, 55, 201, 0.74));
  position: absolute;
  left: 200px;
  display: grid;
  place-items: center;
}
.circle5 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--New-Dashboard-Gradient, rgba(63, 55, 201, 0.74));
  display: grid;
  place-items: center;
  left: 570px;
  position: absolute;
}

.circlebox1 p {
  position: absolute;
  left: 55px;
  margin: 0;
  max-width: 22%;
}
.circlebox2 p {
  position: absolute;
  left: 435px;
  margin: 0;
  max-width: 23%;
}
.circlebox3 p {
  position: absolute;
  left: 805px;
  max-width: 25%;
  margin: 0;
}
.circlebox4 p {
  position: absolute;
  left: 275px;
  max-width: 24%;
  margin: 0;
}
.circlebox5 p {
  position: absolute;
  left: 650px;
  max-width: 25%;
  margin: 0;
}

.line1 {
  width: 218px;
  position: absolute;
  top: 110px;
  border-bottom: 1px solid #9c8acc;
  transform: rotate(33deg);
}
.line2 {
  width: 187px;
  position: absolute;
  top: 110px;
  left: 230px;
  border-bottom: 1px solid #9c8acc;
  transform: rotate(-40deg);
}
.line3 {
  width: 203px;
  position: absolute;
  top: 105px;
  left: 385px;
  border-bottom: 1px solid #9c8acc;
  transform: rotate(33deg);
}
.line4 {
  width: 190px;
  position: absolute;
  top: 110px;
  left: 598px;
  border-bottom: 1px solid #9c8acc;
  transform: rotate(-40deg);
}
.howinternmob-container {
  width: 100vw;
  /* height: 900px; */
  display: grid;
  place-items: center;
  /* border: 2px solid red; */
}
.howinternmob {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  height: 100%;
  width: 95%;
  /* border: 2px solid black; */
}
.mobdiv {
  overflow: hidden;
  height: 120px;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
}
.mob-circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  border-radius: 101px;
  border: 1px solid #000;
  background: var(
    --mobile-landing-page-top-screen-gradient,
    linear-gradient(
      86deg,
      rgba(128, 0, 128, 0.1) -133.64%,
      rgba(128, 0, 128, 0.08) -63.21%,
      rgba(128, 0, 128, 0.08) -63.21%,
      rgba(128, 0, 128, 0.08) -63.19%,
      rgba(128, 0, 128, 0.07) -47.37%,
      rgba(128, 0, 128, 0.06) -4.24%,
      rgba(128, 0, 128, 0.05) 34.58%,
      rgba(128, 0, 128, 0.02) 41.77%,
      rgba(128, 0, 128, 0.01) 79.16%,
      rgba(128, 0, 128, 0) 89.22%,
      rgba(128, 0, 128, 0) 105.04%,
      rgba(128, 0, 128, 0) 122.29%,
      rgba(128, 0, 128, 0) 130.92%,
      rgba(128, 0, 128, 0) 130.92%,
      rgba(128, 0, 128, 0) 130.95%
    )
  );
  display: grid;
  place-items: center;
}
.mobdiv p {
  left: 90px;
  position: absolute;
  color: #150e42;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.mobline1{
        position: absolute;
        bottom: 455px;
        left: 35px;
        width: 2.5px; 
        height:50px; 
        background-color: black; /
}
.mobline2{
    position: absolute;
        bottom:335px;
        left: 35px;
        width: 2.5px; 
        height:50px; 
        background-color: black; /
}
.mobline3{
    position: absolute;
        bottom: 215px;
        left: 35px;
        width: 2.5px; 
        height:50px; 
        background-color: black; /
}
.mobline4{
    position: absolute;
        bottom: 95px;
        left: 35px;
        width: 2.5px; 
        height:50px; 
        background-color: black; /
}
@media screen and (max-width: 2000px) and (min-width: 1320px) {
  .circlebox1 p {
    max-width: 20%;
  }
  .circlebox2 p {
    max-width: 20%;
  }
  .circlebox3 p {
    max-width: 25%;
  }
  .circlebox4 p {
    max-width: 20%;
  }
  .circlebox5 p {
    max-width: 25%;
  }
  .howintern {
    margin-left: 13%;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1098px) {
  .howintern {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1098px) {
  .howintern p {
    font-size: 12px;
  }
  .circlebox3 p {
    max-width: 100%;
  }
  @media screen and (max-width: 1098px) {
    .howintern p {
      font-size: 7px;
    }
    .circlebox3 p {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .howintern-container {
      display: none;
    }
    .scopebox-container {
      width: 100%;
    }
    .scopebox {
      width: 75%;
    }
    .highlights-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding: 0;
    }
    .highlightbox {
      gap: 10%;
      height: 160px;
    }
    .highlightbox p {
      font-size: 13px;
    }
    .roadmap {
      width: 80%;
    }
  }
  @media screen and (max-width: 480px) {
    .highlightbox {
      width: 45%;
      height: 160px;
      gap: 3%;
    }
    .highlightbox p {
      font-size: 12px;
    }
  }
}
